<div class="pt-36 pl-52 flex flex-col gap-20">
    <h1 data-text="Error 404"
        class="text-[10rem] font-black leading-none text-figma-gray-400/10
        before:content-[attr(data-text)] before:absolute before:opacity-[.5]
        before:transform before:translate-x-[24px]">Error 404
    </h1>
    <h2 class="text-7xl font-black text-brand-dark">
        Ooops! Parece que você está perdido.
    </h2>
    <div>
        <p class="font-medium text-brand-dark text-2xl">Página não encontrada. Mas aqui nada fica quebrado.</p>
        <p class="font-medium text-brand-dark text-2xl">A Fênix te guia de volta — escolha um atalho abaixo e continue a navegação.</p>
    </div>

    <div class="flex gap-20">
        <button mat-flat-button>Conteudo</button>
        <button mat-flat-button>Conteudo</button>
    </div>
</div>