@switch (status()) {
@case (chamadosStatus.ORCADA) {
  <button
    [routerLink]="['/cliente/orcamentos', id(), slug()]"
    class="bg-transparent font-sans text-sm hover:bg-figma-gray-300 hover:text-figma-gray-100 py-2 px-4 border border-figma-gray-600 hover:border-transparent rounded">
    Aprovar/Rejeitar Serviço
  </button>
}
@case (chamadosStatus.REJEITADA) {
  <button (click)="this.eventoBtn()"
    class="bg-transparent font-sans text-sm hover:bg-figma-gray-300 hover:text-figma-gray-100 py-2 px-4 border border-figma-gray-600 hover:border-transparent rounded">
    Resgatar
  </button>
}
@case (chamadosStatus.ARRUMADA) {
  <button (click)="this.eventoBtn()"
    class="bg-transparent font-sans text-sm hover:bg-figma-gray-300 hover:text-figma-gray-100 py-2 px-4 border border-figma-gray-600 hover:border-transparent rounded">
    Pagar
  </button>
}
@default {
  <p></p>
}
}
