<div class="h-full flex bg-white justify-center p-12 w-[50%] rounded-tl-2xl">
  <div class="w-full max-w-md">
    <div class="flex items-center gap-2 mb-8">
      <img src="/assets/logo.png" alt="logo" class="h-20 w-20" />
      <div class="flex items-baseline gap-2">
        <span class="text-5xl font-cinzel font-semibold text-brand-dark">Phoenix</span>
        <span class="text-5xl font-orbitron font-medium text-brand-dark">LAB</span>
      </div>
    </div>
    <app-login-form/>
  </div>
</div>
