<div class="grid gap-6">
    <div class="min-w-0">
        <div class="bg-white rounded-lg border border-figma-gray-200 p-6">
            <h2 class="text-3xl font-semibold mt-1 mb-2">
                <span>Resumo do chamado </span>
                {{ chamado().serviceId }}
            </h2>
            <h2 class="text-xl font-semibold mt-1">{{ chamado().descricaoEquipamento }}</h2>

            <div class="mt-4">
                <p class="text-sm font-semibold text-figma-gray-300">Descrição</p>
                <p class="mt-1 text-figma-gray-600">
                    {{ chamado().descricaoFalha }}
                </p>
            </div>

            <div class="mt-4">
                <p class="text-sm font-semibold text-figma-gray-300">Categoria</p>
                <p class="mt-1">{{ chamado().serviceCategory }}</p>
            </div>

            <div class="mt-4 grid grid-cols-2 gap-6">
                <div>
                    <p class="text-sm font-semibold text-figma-gray-300">Criado em</p>
                    <p class="mt-1">{{ chamado().dataCriacao | date:'dd/MM/yy, HH:mm'}}</p>
                </div>
            </div>

            <div class="mt-4 grid grid-cols-2 gap-6">
                <div>
                    <p class="text-sm font-semibold text-figma-gray-300">Status</p>
                    <div class >
                        <app-status-icon [status]="chamado().status" />
                    </div>
                </div>
            </div>

            <div class="mt-6">
                <p class="text-sm font-semibold text-figma-gray-300">Cliente</p>
                <div class="mt-2 flex items-center gap-3">
                    <div class="w-8 h-8 rounded-full bg-brand-base text-white flex items-center justify-center text-xs">AC</div>
                    <div>
                        <p class="font-medium leading-tight">{{ chamado().cliente?.nome }}</p>
                        <p class="text-xs text-figma-gray-300">
                            {{ chamado().cliente?.nome?.toLowerCase() }}
                            <span>&#64; email.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-xl font-semibold mt-5">Etapas do chamado:</h2>


    <div>
        @for (etapa of chamado().etapas; track etapa.id) {
            <div class="min-w-0 mb-8">
                <mat-expansion-panel class="shadow-none">
                    <mat-expansion-panel-header class="flex-between">
                    <span class="font-medium">
                        <span>Etapa </span>
                        00{{ etapa.id }}
                    </span>
                    <app-status-icon [status]=etapa.status />
                    </mat-expansion-panel-header>
                    <div class="p-6">
                    <ul class="divide-y divide-figma-gray-200">
                        <li class="flex items-center justify-between py-3">
                            <span>Criado em</span>
                            <span>{{ etapa.dataCriado | date:'dd/MM/yy, HH:mm'}}</span>
                        </li>
                        <li class="flex items-center justify-between py-3">
                            <span>Técnico responsável</span>
                            <span>{{ etapa.tecnico.nome }}</span>
                        </li>
                        @if (etapa.orcamento != null) {
                            <li class="flex items-center justify-between py-3">
                                <span>Valor do orçamento</span>
                                <span>R$ {{ etapa.orcamento }},00</span>
                            </li>
                        }

                    </ul>
                    </div>
                </mat-expansion-panel>
            </div>
        }
  </div>
</div>
