<div class="h-7 flex items-center justify-end">
    @switch (status()) {
        @case (chamadosStatus.ABERTA) {<!--ver se precisa do id do chamadonesta chamada do botao-->
        <button [routerLink]="['/funcionario/orcamentos',id()]"
            class="hover:bg-figma-gray-300 hover:text-figma-gray-100 border border-figma-gray-600 hover:border-transparent inline-flex items-center gap-2 rounded-lg bg-figma-gray-600 text-white text-xs font-medium px-4 py-1">
            Orçar
        </button>
        }
        @case (chamadosStatus.APROVADA) {
        <button [routerLink]="['/funcionario/efetuar-manutencao', id()]"
            class="hover:bg-figma-gray-300 hover:text-figma-gray-100 border border-figma-gray-600 hover:border-transparent inline-flex items-center gap-2 rounded-lg bg-figma-gray-600 text-white text-xs font-medium px-4 py-1">
            Efetuar Manutenção
        </button>
        }
        @case (chamadosStatus.REDIRECIONADA) {
        <button [routerLink]="['/funcionario/efetuar-manutencao', id()]"
            class="hover:bg-figma-gray-300 hover:text-figma-gray-100 border border-figma-gray-600 hover:border-transparent inline-flex items-center gap-2 rounded-lg bg-figma-gray-600 text-white text-xs font-medium px-4 py-1">
            Efetuar Manutenção
        </button>
        }
        @case (chamadosStatus.PAGA) {
        <button (click)="abrirModal()"
            class="hover:bg-figma-gray-300 hover:text-figma-gray-100 border border-figma-gray-600 hover:border-transparent inline-flex items-center gap-2 rounded-lg bg-figma-gray-600 text-white text-xs font-medium px-4 py-1">
            Finalizar
        </button>
        }
        @default {
        <span class="inline-block h-7"></span>
        }
    }
</div>
