<main class="h-screen w-screen">
    <mat-drawer-container class="h-full w-full !bg-figma-gray-600" [autosize]="true">
        <!-- side-menu -->
        <mat-drawer #menu mode="side" [opened]="true" class="!bg-figma-gray-600 overflow-x-hidden transition-all duration-200 ease-in-out" [ngClass]="isOpen ? '!w-64' : '!w-20'" >
            <div class="h-full w-full flex flex-col">
                <!--header-->
                <header class="flex items-center gap-3 px-4 py-2 " [ngClass]="isOpen ? 'justify-center px-0' : '' ">
                    <!--logo-->
                    <img src="assets/logo.png" alt="logo" class="h-12 w-12 shrink-0 ">
                    <!--titulo-->
                    <div class="min-w-0" *ngIf="isOpen">
                        <span class="font-cinzel font-semibold text-brand-light" >Phoenix</span>
                        <span class="font-orbitron font-medium text-brand-light">LAB</span>
                        <p class="text-center justify-center text-white text-[10px] font-bold uppercase leading-3 tracking-wide">
                            {{ roleLabel }}
                        </p>
                    </div>
                </header>

                <!--line-->
                <div class="border-t opacity-20"></div>

                <!--itens de navegação-->
                <nav class="flex-1 overflow-y-auto px-2 py-3 space-y-1" [ngClass]="isOpen ? '' : 'px-3' ">
                    <button
                        *ngFor="let item of menuItems; trackBy: trackById"
                        [routerLink]="item.path"
                        routerLinkActive="bg-brand-dark text-white hover:bg-brand-base"
                        [routerLinkActiveOptions]="{ exact: true }"
                        #isRouterLinkActive="routerLinkActive"
                        class="matSuffix matIconButton w-full flex items-center justify-start px-3 py-4 gap-3 rounded-lg text-left transition-colors duration-200 bg-figma-gray-600 text-figma-gray-300 hover:bg-figma-gray-500"
                        [ngClass]="isOpen ? '' : 'justify-start px-0 py-4' ">
                        <span
                        class="inline-block w-8 h-8 bg-current shrink-0"
                        [style.mask-image]="'url(' + item.icon + ')'"
                        [style.-webkit-mask-image]="'url(' + item.icon + ')'"
                        [style.maskPosition]="'center'"
                        [style.webkitMaskPosition]="'center'"
                        [style.maskRepeat]="'no-repeat'"
                        [style.webkitMaskRepeat]="'no-repeat'"
                        [style.maskSize]="'contain'"
                        [style.opacity]="isRouterLinkActive.isActive ? '1' : '0.56'">
                        </span>
                        <span class="font-lato font-medium" *ngIf="isOpen">{{ item.label }}</span>
                    </button>
                </nav>

                <!--line-->
                <div class="border-t opacity-20"></div>

                <!--user-->
                <div class="relative px-4 py-4 inline-flex items-center gap-3">
                    <!--photo-->
                    <div class="w-8 h-8 flex items-center justify-center bg-brand-dark rounded-full" [ngClass]="isOpen ? '' : 'mx-auto' ">
                        <span class="text-white font-lato font-normal text-sm tracking-wider" >{{usuarioNome() | iniciais }}</span>
                    </div>
                    <!--nomeemail-->
                    <div class="min-w-0" *ngIf="isOpen">
                        <p class="self-stretch justify-center text-sm font-normal font-lato leading-tight text-white">
                        {{ usuarioNome() | limiteCaracteres : 12 }}
                        </p>
                    </div>
                    <!-- logout -->
                    <button *ngIf="isOpen"
                            color="warn"
                            class="ml-auto !leading-none !px-2 !py-1 !h-7 !min-h-0"
                            (click)="abrirDialog()">
                        <mat-icon aria-hidden="false" fontIcon="exit_to_app" class="text-white"></mat-icon>
                    </button>
                </div>
            </div>
        </mat-drawer>

        <!-- main-content -->
        <div class="h-full pt-4">
            <div class="relative h-full w-full bg-white rounded-tl-[20px] overflow-y-auto">
                <button 
                    type="button"
                    (click)="toggleMenu()" 
                    [attr.aria-expanded]="isOpen"
                    class="absolute flex items-center justify-center w-10 h-10 "
                    >
                    <mat-icon aria-hidden="false" fontIcon="chevron_right" class="transform transition-transform duration-500 ease-in-out" [class.rotate-180]="isOpen"></mat-icon>
                </button>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-drawer-container>
</main>
