  <table class="text-left table-fixed w-full shadow-lg bg-white border-collapse">
    <thead>
      <tr>
        <th class="w-1/6 border-b border-figma-gray-200 px-6 py-4">
          <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
            Data
          </p>
        </th>
        <th class="w-[30%] border-b border-figma-gray-200 px-6 py-4">
          <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
            Descrição
          </p>
        </th>
        <th class="w-1/5 border-b border-figma-gray-200 px-6 py-4">
          <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70">
            Situação
          </p>
        </th>
        <th class="w-1/4 border-b border-figma-gray-200 py-4">
          <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"></p>
        </th>
        <th class="border-b border-figma-gray-200 py-4">
          <p class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"></p>
        </th>
      </tr>
    </thead>
    <tbody>
      @defer (when !chamadoService.loading()) {
      @for (chamado of chamados(); track chamado.id) {
        <tr class="hover:bg-figma-gray-200">
        <td class="px-6 py-4">
          <p class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900">
            {{ chamado.dataCriacao | date:'dd/MM/yy, H:mm' }}
          </p>
        </td>
        <td class="px-6 py-4">
          <p class="block-b font-sans text-sm antialiased font-semibold leading-normal text-blue-gray-900">
            {{ chamado.descricaoEquipamento | limiteCaracteres : 30}}
          </p>
        </td>
        <td class="px-4 py-4">
            <app-status-icon [status]="chamado.status" />
        </td>
        <td class="px-2 py-4">
          <app-visualizar-button
            [status]="chamado.status"
            [id]="chamado.id"
            [slug]="chamado.slug"/>
        </td>
        <td class="px-2 py-4">
          <button class="aspect-square rounded p-2" [routerLink]="['/cliente/historico',chamado.id,chamado.slug]">
            <img src="assets/svg/visualizar-icon.svg" />
          </button>
        </td>
        </tr>
      } @empty {
        <tr>
        <td colspan="5" class="py-2">
          <div class="flex flex-col items-center justify-center text-center gap-3 py-6">
            <img
            src="assets/desktop-computer.jpg"
            alt="Nenhum Chamado Cadastrado"
            class="h-64 opacity-96">
            <div>
            <p class="text-figma-gray-500 font-semibold">Nenhum chamado cadastrado</p>
            <p class="text-figma-gray-300 text-sm">Crie um novo chamado aqui.</p>
            </div>
            <button
              mat-flat-button
              class="btn-inline"
              [routerLink]="['/cliente/solicitar-manutencao']">
              <img src="assets/svg/plus.svg" class="w-5 h-5"/>
              Novo Chamado
            </button>
          </div>
        </td>
        </tr>
      }
    } @placeholder {
      <tr>
        <td colspan="4" class="py-6 h-96">
          <div class="loading-wrap">
            <app-rive-loader
              src="assets/miner_loading_bar.riv"
              stateMachine="State Machine 1"
              progressInput="Number 1"
              [durationMs]="1000"
              [from]="0"
              [to]="100"
              [width]="560"
              [height]="200">
            </app-rive-loader>
          </div>
        </td>
      </tr>
    } @loading {
      <tr class="animate-pulse">
        <td class="px-8 py-4"><div class="h-4 w-48 bg-white rounded"></div></td>
        <td class="px-8 py-4"><div class="h-4 w-32 bg-white rounded"></div></td>
        <td class="px-4 py-4"><div class="h-4 w-20 bg-white rounded"></div></td>
        <td class="px-6 py-4"><div class="h-4 w-24 bg-white rounded ml-auto"></div></td>
      </tr>
    }
    </tbody>
  </table>
