<div class="grid grid-cols-3 gap-6 max-h-[70vh] overflow-y-auto pr-4">
    @for (chamado of chamados(); track chamado.id) {
        <mat-card appearance="outlined" class=" w-full h-[192px] rounded-2x1 border border-figma-gray-200 shadow-sm p-4">
            <!--header-->
            <div class="flex items-start justify-between">
                <div class="text-xs text-figma-gray-300">{{ chamado.id }}</div>
                <app-visualizar-button-card
                    [status]="chamado.status"
                    [id]="chamado.id"
                    [slug]="chamado.slug" />
            </div>

            <!--categoria e descrição-->
            <h3 class="text-lg font-semibold text-figma-gray-500">{{ chamado.serviceCategory }}</h3>
            <p class="text-sm text-figma-gray-400 -mt-1">{{ chamado.descricaoEquipamento | limiteCaracteres : 30 }}</p>

            <!--data de criação-->
            <div class="mt-4 flex items-center justify-between text-sm">
                <span class="text-figma-gray-500">Aberto em:</span>
                <span class="text-figma-gray-600">{{ chamado.dataCriacao | date:'d/MM/yy, H:mm' }}</span>
            </div>

            <!--linha divisória-->
            <hr class="my-2 border-t border-figma-gray-200" />

            <!--cliente-->
            <div class="flex justify-between">
                <div class="flex items-center gap-2">
                    <div class=" inline-flex w-8 h-8 items-center justify-center bg-brand-dark rounded-full">
                        <span class="text-white font-lato font-normal text-sm tracking-wider" >{{ chamado.cliente.charAt(0) }}</span>
                    </div>
                    <span class="text-figma-gray-600">{{ chamado.cliente }}</span>
                </div>

                <app-status-icon [status]="chamado.status" />
            </div>
        </mat-card>
    }@empty {
        <p>Nenhum chamado encontrado</p>
        }
</div>
