<mat-card appearance="outlined" class=" w-full h-[192px] rounded-2x1 border border-figma-gray-200 shadow-sm p-4">
    <!--header-->
    <div class="flex items-start justify-between">
        <div class="text-xs text-figma-gray-300">0001</div>
        <button 
        [routerLink]="['/funcionario/inserir-orcamento']"
        class="inline-flex items-center gap-2 rounded-lg bg-figma-gray-600 text-white text-xs font-medium px-4 py-1">
        Orçar</button>
    </div>

    <!--categoria e descrição-->
    <h3 class="text-lg font-semibold text-figma-gray-500">Formatação PC</h3>
    <p class="text-sm text-figma-gray-400 -mt-1">descricao (ate 30 char)</p>

    <!--data de criação-->
    <div class="mt-4 flex items-center justify-between text-sm">
        <span class="text-figma-gray-500">Aberto em:</span>
        <span class="text-figma-gray-600">26/08/2025</span>
    </div>

    <!--linha divisória-->
    <div class="my-2 h-px bg-figma-gray-200"></div>

    <!--cliente-->
    <div class="flex items-center gap-2">
        <div class=" inline-flex w-8 h-8 items-center justify-center bg-brand-dark rounded-full">
            <span class="text-white font-lato font-normal text-sm tracking-wider" >SL</span>
        </div>
        <span class="text-figma-gray-600">nomecliente</span>
    </div>
</mat-card>