<div class="mt-6 page-shell">
  <div class="flex justify-between">
      <h1 class="text-3xl font-bold text-brand-dark" >Funcionários</h1>
      <button mat-flat-button [routerLink]="['/funcionario/novo-funcionario']" class="btn-inline">
        <img src="assets/svg/plus.svg" class="w-5 h-5"/>
        Novo
      </button>
  </div>
  <div class="mt-8 bg-white rounded-lg overflow-hidden border border-figma-gray-200">
    @if (loading()) {
      <div class="loading-wrap">
        <app-rive-loader
          src="assets/miner_loading_bar.riv"
          stateMachine="State Machine 1"
          progressInput="Number 1"
          [durationMs]="4000"
          [from]="0"
          [to]="100"
          [width]="560"
          [height]="200">
        </app-rive-loader>
      </div>
    } @else {
      <app-funcionarios-table [funcionarios]="funcionarios()" (deleted)="onDeleted()"/>
    }
  </div>
</div>
